<%- include ("partials/header") -%>

  <div class="container leftsignup text-center">
    <main>




        <div class="col-md-7 col-lg-8 margincenter">
          <h1 class="mb-3">Registrate</h1>
          <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" name="firstName" class="form-control"  id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Nombre  es obligatorio
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Apellido es obligatorio
                </div>
              </div>



              <div class="col-sm-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="tu@ejemplo.com" required>
                <div class="invalid-feedback">
                  Introduzca un correo electronico valido
                </div>
              </div>

              <div class="col-sm-6">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" name="password" id="password"  required>
                <div class="invalid-feedback">
                Porfavor introduzca su contraseña
                </div>
              </div>




            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit"> Crear cuenta</button>


          </form>
        </div>

    </main>
<%- include("partials/footer")-%>
